@use '../../export/base';

.el-menu-vertical:not(.el-menu--collapse) {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  .el-submenu,
  .el-menu-item-single {

    &.is-opened {
      border-left: 4px solid base.$color-first;
    }

    &.is-active,
    &.is-opened {
      background-color: base.$color-second !important;
      border-left: 4px solid base.$color-first !important;
    }

    &:not(.is-active, .is-opened):hover,
    &:not(.is-active, .is-opened):focus {
      background-color: base.$color-second !important;
      border-left: 4px solid base.$color-first !important;

      i {
        color: inherit;
      }
    }

    &:not(.is-active, .is-opened),
    &:not(.is-active, .is-opened) {

      &:hover,
      &:focus {
        border-left: 4px solid base.$color-first !important;

        i {
          color: inherit;
        }
      }
    }


  }

  .el-submenu__title,
  .el-menu-item-single {
    @extend .h-50,
    .lh-50,
    .font-14,
    .grey2;

    i.iconfont {
      @extend .grey2;
    }

    span {
      @extend .pointer,
      .ml-10;
    }

    &:hover,
    &:focus {
      background-color: base.$color-second !important;

      i {
        color: inherit;
      }
    }

  }

  .el-menu.el-menu--inline {
    background-color: rgba(0, 0, 0, 0);

    .el-menu-item-group {
      .el-menu-item-group__title {
        @extend .pd-0;
      }

      &>ul {

        .el-menu-item {
          @extend .w-f,
          .grey2;
          min-width: 100%;
          padding: 0 20px 0 50px;

          &:hover,
          &:focus {
            background-color: base.$color-second;
          }

          &.is-active {
            background-color: base.$color-second;
            @extend .white;
          }
        }
      }
    }
  }
}
