@use '../index';

$px: 10px;

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.layout {
  .el-header {
    @extend .w-f,
    .pd-0;
    height: 50px !important;
  }

  .layout_box {
    height: calc(100vh - 50px);

    .el-aside {
      @extend .h-f,
      .scroll;
      width: 180px !important;
      background-color: #545b65;
      border-top: 20px solid #545b65;
      border-bottom: 20px solid #545b65;
    }

    .el-main {
      width: calc(100% - 180px);
      @extend .h-f,
      .pd-20,
      .scroll;
    }
  }

}
