@use './base.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

// #app {
//   height: 100%;
// }

*,
*:before,
*:after {
  box-sizing: border-box;
  // transition: all 0.2s;
  margin: 0;
  padding: 0;
}

span,
p {
  cursor: default;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:focus,
  &:active {
    outline: none;
  }
}

div:focus,
p:focus,
span:focus {
  outline: none;
}


ol,
ul,
li,
dl,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
div,
ul,
textarea {
  scrollbar-face-color: #fb4446;
  /*滚动条3D表面（ThreedFace）的颜色*/
  scrollbar-highlight-color: #fff;
  /*滚动条3D界面的亮边（ThreedHighlight）颜色*/
  scrollbar-shadow-color: #eee;
  /*滚动条3D界面的暗边（ThreedShadow）颜色*/
  scrollbar-3dlight-color: #eee;
  /*滚动条亮边框颜色*/
  scrollbar-arrow-color: #000;
  /*滚动条方向箭头的颜色 */
  scrollbar-track-color: #fff;
  /*滚动条的拖动区域(TrackBar)颜色*/
  scrollbar-darkshadow-color: #fff;
  /*滚动条暗边框（ThreedDarkShadow）颜色*/

  // &::-webkit-scrollbar {
  //   /*滚动条大小*/
  //   width: 8px;
  //   height: 8px;
  // }

  // &::-webkit-scrollbar-track-piece {
  //   /*---滚动框背景样式--*/
  //   background-color: #fff;
  //   -webkit-border-radius: 4px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   /*---滚动条默认显示样式--*/
  //   background-color: #ddd;
  //   height: 50px;
  //   outline-offset: -2px;
  //   outline: 2px solid #fff;
  //   -webkit-border-radius: 4px;
  //   border: 2px solid #fff;
  // }

  // &::-webkit-scrollbar-thumb:hover {
  //   /*---鼠标点击滚动条显示样式--*/
  //   background-color: #888;
  //   height: 50px;
  //   -webkit-border-radius: 4px;
  // }
}

/*重置滚动条样式并隐藏*/

// ::-webkit-scrollbar {
//   width: $font4;
//   height: $font4;
//   background-color:rgba(0,0,0,0);
// }

// /*定义滚动条轨道 内阴影+圆角*/

// ::-webkit-scrollbar-track {
//   width: $font4;
//   height: $font4;
//   // -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.4);
//   background-color: rgba(0,0,0,0);
// }

// /*定义滑块 内阴影+圆角*/

// ::-webkit-scrollbar-thumb {
//   border-radius: $font2;
//   width: $font4;
//   // -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.4);
//   background-color: $grey5;
// }
