// @use '../../../export/base';
@use '@styleE/base';

#tsparticles {
  @extend .absolute,
  .l-0,
  .t-0,
  .w-f,
  .h-f;
  z-index: 0;
}

.login_box {
  @extend .relative,
  .flex-c-c;
  top: 30vh;
  z-index: 1;

  .login_form_box {
    .el-button {
      width: 100%;
      @extend .mt-20;
      background-color: base.$blue1;
      color: base.$white2;
    }
  }
}
