@use '../../../export/base';

.g6-component-contextmenu {
  position: absolute;
  z-index: 2;
  list-style-type: none;
  background-color: #363b40;
  border-radius: 6px;
  font-size: 14px;
  color: hsla(0, 0%, 100%, .85);
  width: fit-content;
  transition: opacity .2s;
  text-align: center;
  padding: 0px 20px 0px 20px;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.6);
  border: 0px;
}

.g6-component-contextmenu ul {
  padding-left: 0px;
  margin: 0;
}

.g6-component-contextmenu li {
  cursor: pointer;
  list-style-type: none;
  list-style: none;
  margin-left: 0;
  line-height: 38px;
}

.g6-component-contextmenu li:hover {
  color: #aaaaaa;
}

.print_tooltip{
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(255,255,255,0.8);
  min-width: 80px;
  max-width: 240px;
  width: auto;
  li{
    display: flex;
    flex-wrap: wrap;
    p{
      font-size: 12px;
      line-height: 18px;
      word-break: break-all;
      &:nth-child(1){
        width: 60px;
      }
      &:nth-child(2){
        width: calc(100% - 60px);
      }
    }
  }
}