.loadingBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);

  .dot {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
  }

  $index: 1,
  2,
  3,
  4,
  5;

  @each $n in $index {
    .dot:nth-child(#{$n}) {
      animation-delay: (.1s * #{$n});
      background: red(#3ac, (50 * #{$n}));
    }
  }
}





@keyframes slide {
  0% {
    transform: scale(1)
  }

  50% {
    opacity: .3;
    transform: scale(2)
  }

  100% {
    transform: scale(1)
  }

}
